body {
    background-color: #3C3C3C;
}

.card-header {
    background-color: #222222;
}

.m-0 {
    color: #ffffff;
}

.game-card {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    background-color: #4e4e4e;
}

.card-footer {
    background-color: #222222;
}

#btnEqual {
    background-color: rgb(11, 78, 47);
}

#btnLess {
    background-color: #164674;
}

#btnOver {
    background-color: #164674;
}